@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&display=swap');

:root {
  --primary-font-color: #513229;
  --primary-background-color: rgba(201, 170, 103, .3);
  --secondary-background-color: rgba(34, 71, 135, .5);
  --tertiary-background-color: rgba(111, 154, 191, .4);
}

body {
  margin: 0;
  min-height: 100vh;
  
  /* Color 1: Cream Base */
  background-color:  var(--primary-background-color);
  
  /* Color 2: Vintage Soft Blue Grid (Soft kitchen towel aesthetic) */
  background-image: 
    linear-gradient(90deg, var(--tertiary-background-color) 50%, transparent 50%),
    linear-gradient(var(--secondary-background-color) 50%, transparent 50%);
  
  /* Responsive grid size based on screen width */
  background-size: 8vw 8vw; 
}

.mainFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Ephesis', cursive;
  font-size: 5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
  color: var(--primary-font-color);
}

.groceryListContainer {
  cursor: pointer;
  position: fixed;
  left: 0;
  transform: translateX(-28rem);
  top: 1rem;
  transition: transform 0.5s ease-in-out;
}

.groceryListContainer.open {
  transform: translateX(1rem);
}

.groceryListContainer polygon {
  display: none !important;
}

.groceryList {
  margin: 0;
  width: 30rem;
}

.items {
  display: flex;
  flex-direction: row;
}