@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lavishly+Yours&display=swap');

:root {
  --primary-font-color: #8b310070;
  --secondary-font-color: #3182fc65;
  --primary-background-color: #eaefff;
  --secondary-background-color: #d3dcfa;
  --tertiary-background-color: #8b31001e;
}

body {
  margin: 0;
  min-height: 100vh;
  
  /* Color 1: Cream Base */
  background-color:  var(--primary-background-color);
  
  /* Color 2: Vintage Soft Blue Grid (Soft kitchen towel aesthetic) */
  background-image: 
    linear-gradient(var(--tertiary-background-color) 50%, transparent 50%),
    linear-gradient(90deg, var(--secondary-background-color) 50%, transparent 50%);
  
  /* Responsive grid size based on screen width */
  background-size: 3vw 3vw; 
}

.mainFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  position: relative;
  display: inline-block;
}

.title-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 45vw;
  height: 8vw;
  pointer-events: none;
}

.title {
  width: max-content;
  position: relative;
  font-family: 'Ephesis', cursive;
  font-size: 7vw;
  font-weight: 500;
  color: var(--primary-font-color);
  text-shadow: 0.1rem 0.1rem 0 var(--secondary-font-color);
  user-select: none;
}

.groceryListContainer {
  cursor: pointer;
  position: fixed;
  left: 0;
  transform: translateX(-28rem);
  top: 1rem;
  transition: transform 0.5s ease-in-out;
  z-index: 10;
}

.groceryListContainer.open {
  transform: translateX(1rem);
}

.groceryListContainer polygon {
  display: none !important;
}

.groceryList {
  margin: 0;
  width: 30rem;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vw;
  max-width: 80%;
  padding-top: min(2vw, 10px);
  justify-content: center;
}

.itemFrame {
  width: 200px;
  flex-shrink: 0;
  transform: rotate(var(--rotation));
  transition: transform 0.3s ease;
}

.itemFrame:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1.05);
}